<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8"/>
    <title>gitcloud</title>

    <style>
        .clear {
            clear: both
        }
    </style>
</head>
<body>
<h1 id="h" th:inlines="text">您目前在<span style="color: red;"></span>仓库下</h1>
<div  style="margin: 20px 0;">
    <div id="folderback" title="返回上一级目录" style="float: left;margin-right: 25px;"><img height='50' width='50' src="img/prefolder.jpg"></div>
<div id="githome" title="导航仓库根目录" style="float: left;margin-right: 25px;"><img height='50' width='50' src="img/githome.jpg"></div>
<div id="basehome" title="导航根目录" onclick="goBaseHome()" style="float: left;"><img height='50' width='50' src="img/basehome.jpg"></div>
    <div class='clear'></div></div>
</div>
<div style="margin-bottom:30px;">
    <div id="header">目录位置:<span></span></div>
    <div id="middle" style="color: red;">有<span></span>个文件</div>
    <div style="margin-top: 20px;" id="file"></div>

</div>
<button onclick="createFolder()">创建文件夹</button>
<form action="newfile/multifileUpload" method="post" enctype="multipart/form-data" onsubmit="return check();">
    <input id="hiddenDirectory" type="hidden" name="directory"/>
    <input id="hiddenFolders" type="hidden" name="folders"/>
    <div id="uploadfile">
    <p>选择文件: <input type="file" name="fileName"/></p>
        <p>选择文件: <input type="file" name="fileName"/></p>
    </div>
    <div>
    <div style="float: left;margin-right: 25px;"><input type="submit" value="上传"/></div>
        <div style="float: left;margin-right: 25px;" onclick="add()"><img height='20' width='20' src="img/add.jpg"></div>
        <div style="float: left;" onclick="sub()"><img height='20' width='20' src="img/sub.jpg"></div>
    <div class='clear'></div>
    </div>
</form>
<div id="log">
    <div id="logheader" style="color: red;">仓库提交历史</div>

</div>

<div id="loadmore"  style='text-decoration:underline;color:red;margin: 10px 10px;'>加载更多提交历史</div>
<div style="margin:20px 0;" id="diff">


</div>

</body>
<script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
<script type="text/javascript" src="js/route.js"></script>
<script type="text/javascript">
    var commitIDs;
    var str;
    var finalQueryParam;
    var page = 1;
    var pageNum = 10;
    var loadmoreFn;
    $(function () {
        init();
        $('#folderback').on('click', function() {
            goBack(str,finalQueryParam);
        });
        $('#githome').on('click', function() {
            goGitHome(str);
        });
        $('#loadmore').on('click', loadmoreFn = function() {
            getCommitLog(str,page,pageNum);
        });
    });

    function init() {
        commitIDs = new Array();
        var url = window.location.href;
        var index = url.lastIndexOf("\/");
        str = url.substring(index + 1, url.length);
        str = str.split("?")[0];
        $("#hiddenDirectory").val(str);
        var param = decodeURI(getUrlParameter('folders'));
        if (param == null || param == '') {
            finalQueryParam = '';
        } else {
            finalQueryParam = param;
        }
        $("#header span").html(getPath(finalQueryParam));
        $("#hiddenFolders").val(finalQueryParam);
        $("#h span").html(str);
        $.ajax({
            url: 'files/' + str + '?folders=' + finalQueryParam,//地址
            dataType: 'json',//数据类型
            type: 'GET',//类型
            timeout: 10000,//超时
            //请求成功
            success: function (res) {
                var div = $("#file");
                var num = 0;
                var img;
                var filePart;
                //待进入的目录
                var curParam;
                var deletePart;
                var downloadPart = '';
                var divIdCount = 0;
                if ((res.length == 1 ) && (res[0].data == 'notroot')){
                    goBaseHome();
                }else {
                    for (var i = 0; i < res.length; i++) {
                        divIdCount ++;
                        if (res[i].type == 'file') {
                            num++;
                            deletePart = "<img onclick='' style='float: left;margin-right: 25px;' height='20' width='20' src='img/file.jpg'>";
                            filePart = "<a style = 'text-decoration: underline ; color :blue;' href ='" + str + "/singlefile?folders=" + finalQueryParam + "&filename=" + res[i].fileName + "'>" + res[i].fileName + "</a>";
                            img = "<img style='float: left;margin-right: 25px;' height='20' width='20' src='img/file.jpg'>";
                        } else {

                            if (finalQueryParam == '') {
                                curParam = res[i].fileName;
                            } else {
                                curParam = finalQueryParam + '*' + res[i].fileName;
                            }
                            filePart = "<a style = 'text-decoration: underline ; color :yellowgreen;' href ='" + str + "?folders=" + curParam + "'>" + res[i].fileName + "</a>";
                            img = "<img style='float: left;margin-right: 25px;' height='20' width='20' src='img/directory.jpg'>";
                        }

                        div.append("<div id='part_" + divIdCount + "'>" + img + "<div style='float: left;margin-right: 25px;'>" + filePart +
                            "</div><div style='float: left;margin-right: 25px;'>最近修改时间:" + res[i].modifiedTime + " 大小:(" + res[i].size + ")" + "</div><div class='clear'></div></div>");
                    }
                    $("#middle span").html(num);
                }

            },
            //失败/超时
            error: function (msg) {
                alert(msg);
            }
        });
        getCommitLog(str,page,pageNum);
        $("#log").click(function (e) {
            var content = e.target.innerHTML;
            var strs = new Array();
            strs = content.split(":");
            if (strs[0] == 'CommitID') {
                if (e.target.style.color == 'blue') {
                    if (commitIDs.length < 2) {
                        e.target.style.color = 'red';
                        commitIDs.push(strs[1]);
                    } else {
                        var oldCommitIDs = new Array();
                        for (i = 0; i < commitIDs.length; i++) {
                            oldCommitIDs.push(commitIDs[i]);
                        }
                        commitIDs.pop();
                        var newCommitIDs = new Array();
                        for (i = 0; i < commitIDs.length; i++) {
                            newCommitIDs.push(commitIDs[i]);
                        }
                        var result = oldCommitIDs.concat(newCommitIDs).filter(function (v) {
                            return oldCommitIDs.indexOf(v) === -1 || newCommitIDs.indexOf(v) === -1
                        });
                        $("#" + result[0])[0].style.color = 'blue';
                        e.target.style.color = 'red';
                        commitIDs.push(strs[1]);
                    }
                } else {
                    e.target.style.color = 'blue';
                    var tempCommitID = new Array();
                    tempCommitID.push(strs[1]);
                    var result = commitIDs.concat(tempCommitID).filter(function (v) {
                        return commitIDs.indexOf(v) === -1 || tempCommitID.indexOf(v) === -1
                    });
                    commitIDs = result;
                }
            }
            var curLength = commitIDs.length;
            if (curLength == 0) {
                $("#diff").html('');
            }
            if (curLength == 1) {
                getDiff(1, str, commitIDs);
            }
            if (curLength == 2) {
                getDiff(2, str, commitIDs);
            }

        });
    }

    function  delete(divId,) {

    }

    function getUrlParameter(name) {
        name = name.replace(/[]/, "\[").replace(/[]/, "\[").replace(/[]/, "\\\]");
        var regexS = "[\\?&]" + name + "=([^&#]*)";
        var regex = new RegExp(regexS);
        var results = regex.exec(window.parent.location.href);
        if (results == null)
            return "";
        else {
            return results[1];
        }
    };

    function createFolder() {
        var name = prompt("请输入文件名", "default")
        if (name != null && name != "") {
            $.ajax({
                url: 'newfile/createfolder/' + str,//地址
                dataType: 'text',//数据类型
                data: 'folders=' + finalQueryParam + "&foldername=" + name,
                contentType: 'application/x-www-form-urlencoded',
                type: 'POST',//类型
                timeout: 5000,//超时
                //请求成功
                success: function (res) {
                    $("#file").empty();
                    init();

                },
                //失败/超时
                error: function (msg) {
                    alert(msg);
                }
            });
        }
    }

    function add(){
        var length = $("#uploadfile").children('p').length;
        if (length < 5){
            $("#uploadfile").append("<p>选择文件: <input type='file' name='fileName'></p>");
        }

    }

    function sub(){
        var length = $("#uploadfile").children('p').length;
        if (length > 1){
            $("#uploadfile").children().last().remove();
        }

    }

    function getDiff(type, directory, commitIDs) {
        var param;
        var url;
        var resPre;
        if (type == 1) {
            url = 'diff/diffvshead';
            param = '?directory=' + directory + '&commitid=' + commitIDs[0];
            resPre = "<div style='color:red;'><div>当前版本相比于</div><div>" + commitIDs[0] + "版本</div><div>的变化如下:</div></div>";
        } else {
            url = 'diff/diffcustomize';
            param = '?directory=' + directory + '&firstcommitid=' + commitIDs[0] + '&secondcommitid=' + commitIDs[1];
            resPre = "<div style='color:red;'><div>" + commitIDs[0] + "版本相比于</div><div>" + commitIDs[1] + "版本</div><div>的变化如下:</div></div>";
        }
        $.ajax({
            url: url + param,//地址
            type: 'GET',//类型
            timeout: 5000,//超时
            //请求成功
            success: function (res) {
                $("#diff").html(resPre + "<div style='margin:10px 0 20px 0;'>" + res + "</div>");

            },
            //失败/超时
            error: function (msg) {
                alert(msg);
            }
        });

    }

    function rollback(that){
        var msg = "您确定要回滚版本吗，一旦回滚将不可挽回";
        if (confirm(msg)!=true){
            return;  //你也可以在这里做其他的操作
        }
        var id = $(that).prev().attr('id');
        $.ajax({
            url: 'reset/' + str,//地址
            dataType: 'text',//数据类型
            data: 'revision=' + id,
            contentType: 'application/x-www-form-urlencoded',
            type: 'POST',//类型
            timeout: 5000,//超时
            //请求成功
            success: function (res) {
               if (res == 'success'){
                   goGitHome(str);
               }
            },
            //失败/超时
            error: function (msg) {
                alert(msg);
            }
        });

    }
    function getCommitLog(str,curPage,curPageNum) {
        $.ajax({
            url: 'commit/commits?directory=' + str + "&page=" + curPage + "&pagenum=" + curPageNum,//地址
            dataType: 'json',//数据类型
            type: 'GET',//类型
            timeout: 2000,//超时
            //请求成功
            success: function (res) {
                var div = $("#log");
                for (var i = 0; i < res.length; i++) {
                    if(curPage == 1 && i == 0){
                        div.append("<div style='margin:10px 5px;'>" +
                            "<div title='点击可作比对' style='text-decoration:underline;color:blue;' id ='" + res[i].commitID + "'>CommitID:" + res[i].commitID + "</div>" +
                            "<div>time:" + res[i].time + "</div></div>");
                    }else {
                        div.append("<div style='margin:10px 5px;'>" +
                            "<div><div title='点击可作比对' style='text-decoration:underline;color:blue;float: left;margin-right: 25px;' id ='" + res[i].commitID + "'>CommitID:" + res[i].commitID + "</div>" +
                            "<div title='回退到此版本' onclick='rollback(this)'><img height='21' width='30' src='img/rollback.jpg'></div><div class='clear'></div></div>" +
                            "<div>time:" + res[i].time + "</div></div>");
                    }

                }
                if (res.length == 0){
                    var loadDiv = $("#loadmore");
                    loadDiv.html("没有更多提交历史了");
                    loadDiv.unbind("click",loadmoreFn);
                    loadDiv.css("color","");
                }else {
                    page++;
                }
            },
            //失败/超时
            error: function (msg) {
            }
        });
    }
    function check(){
        var flag = false;
        $("#uploadfile p input").each(function(){

            var self=$(this);
            var the_file = self.val();
            if(the_file == "" || the_file.length == 0){

            }else{
                flag = true;
            }
        });
        if(flag){
            return true;
        }else {
            alert("请选择文件");
            return false;
        }


    }
</script>
</html>