<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8"/>
    <title>gitcloud</title>
    <script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
</head>
<body>
<h1 th:inlines="text">您的git云仓库</h1>

<div id = "directory">
<div id="header" style="color: red">您有<span></span>个云仓库</div>
    <div id="content">

    </div>

</div>

<button onclick="disp_prompt()">创建新的仓库</button>

</body>

<script type="text/javascript">

    function disp_prompt()
    {
        var name=prompt("请输入仓库名","default")
        if (name!=null && name!="")
        {
            $.ajax({
                url: 'newfile/newgit',//地址
                dataType: 'text',//数据类型
                data: 'directory='+name,
                contentType: 'application/x-www-form-urlencoded',
                type: 'POST',//类型
                timeout: 2000,//超时
                //请求成功
                success: function (res) {
                    clearDirectory();
                    getDirectory();
                },
                //失败/超时
                error: function (msg) {
                    alert(msg);
                }
            });
        }
    }

    function clearDirectory(){
        $("#content").empty();
    }

    function getDirectory(){
        $.ajax({
            url: 'files/showall',//地址
            dataType: 'json',//数据类型
            type: 'GET',//类型
            timeout: 2000,//超时
            //请求成功
            success: function (res) {
                var directory = $("#content");
                var num = 0;
                for (var i=0;i<res.length;i++)
                {
                    num ++;
                    directory.append("<div style='margin:10px 5px;'>" + "<a href='" + res[i] + "'>" + res[i] + "</a>"+ "</div>");
                    // html.push("<div>" + res[i] + "</div>");
                }
                $("#header span").html(num);

            },
            //失败/超时
            error: function (msg) {
                alert(msg);
            }
        });
    }

    $(function () {

        getDirectory();

    });
</script>

</html>