<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8"/>
    <title>gitcloud</title>
    <script type="text/javascript" src="/js/jquery-3.4.1.min.js"></script>
    <style>
        .clear {
            clear: both
        }
    </style>
</head>
<body>

<div>
    <div style="float: left;margin-right: 25px;">
      <img src="/img/file.jpg" height='50' width='50'>
    </div>
    <div style="float: left;height: 50px;line-height: 50px;" id="file_name"></div>
    <div class='clear'></div>
</div>
<div id="file_log">
    <div id="logheader" style="color: red;margin-top: 30px;">文件提交历史</div>

</div>

<div style="margin:20px 0;" id="filelogcontent">


</div>
</body>

<script th:inline="javascript">
    $(function () {
        var fileName = [[${filefullname}]];
        $("#file_name").html(fileName);
        var queryFileName = [[${filename}]];
        var folders = [[${folders}]];
        var directory = [[${directory}]];
        getFileCommitLog(directory,folders,queryFileName);
        $("#file_log").click(function (e) {
            var content = e.target.innerHTML;
            var strs = new Array();
            strs = content.split(":");
            if (strs[0] == 'CommitID') {
                getLog(directory,folders,queryFileName,strs[1]);
            }
        });

    });
   function getFileCommitLog(directory,folders,queryFileName){
       var param = 'directory='+directory + "&folders=" + folders + "&filename=" +queryFileName;
       $.ajax({
           url: '/commit/filecommits' + "?" + param,//地址
           dataType: 'json',//数据类型
           type: 'GET',//类型
           timeout: 5000,//超时
           //请求成功
           success: function (res) {
               var div = $("#file_log");
               for (var i = 0; i < res.length; i++) {
                   div.append("<div style='margin:10px 5px;'>" +
                       "<div title='点击可查看该版本内容' style='text-decoration:underline;color:blue;' id ='" + res[i].commitID + "'>CommitID:" + res[i].commitID + "</div>" +
                       "<div>time:" + res[i].time + "</div></div>");
               }
           },
           //失败/超时
           error: function (msg) {
               alert(msg);
           }
       });

   }

    function getLog(directory,folders,queryFileName,commitId){
        var param = 'directory='+directory + "&folders=" + folders + "&filename=" +queryFileName + "&commitid=" + commitId;
        $.ajax({
            url: '/commit/historycontent' + "?" + param,//地址
            dataType: 'text',//数据类型
            type: 'GET',//类型
            timeout: 5000,//超时
            //请求成功
            success: function (res) {
                var div = $("#filelogcontent");
                div.html('');
                div.append(res);
            },
            //失败/超时
            error: function (msg) {
                alert(msg);
            }
        });

    }


</script>
</html>